BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Stroustrup #Allman # You can also use Stroustrup if you prefer that style
AlwaysBreakBeforeMultilineStrings: true
