Checks: >
  # -bugprone-easily-swappable-parameters,
  # bugprone-*,                    # Enable bug-prone patterns
  performance-*,                 # Enable performance-related checks
  readability-*,                 # Enable readability and style checks
  modernize-*,                   # Enable modern C++11/14/17/20 checks
  cppcoreguidelines-*,           # Enable C++ Core Guidelines checks
  misc-*,                        # Enable miscellaneous checks
  cert-*,                        # Enable CERT coding standards checks
  google-*,                      # Enable Google coding style checks
  hicpp-*,                       # Enable High Integrity C++ checks
  
WarningsAsErrors: '**'           # Treat all warnings as errors
HeaderFilterRegex: '.*'          # Check all project headers
FormatStyle: file                # Use .clang-format for code formatting style
